block php_header
  | <?php require_once("../../includes/initialize.php"); ?>
  //
    <?php
      $ad_process=get_admission_process();
      if(mysqli_num_rows($ad_process) >= 1){
        if($_SERVER['REQUEST_METHOD'] == 'POST'){
        if($_POST['count']==""||$_POST['admission_process_id']=="")
          set_error("count or academic year cannot be blank");
        else{
          $tret=generate_save_tokens($_POST['admission_process_id'],$_POST['count']);
          if(tret==0)
            set_success("Tokens generated");
        }
      }
    }
      else
        set_error("No admission process found. <a href=\"new_admission_process.php\">Click here</a> to create one.");
    ?>

block variables
  - title = "Generate tokens"
extends ../template/admin_layout.jade
block content
  form(action="generate_tokens.php" method="post")
    div(class="row")
      div(class="input-field col s12")
        select(id="admission_process_id" name="admission_process_id")
          option(value="" disabled selected) Choose your option
          | <?php
          |  while($ap=mysqli_fetch_assoc($ad_process))
          |    echo "<option value=\"{$ap['id']}\">{$ap['academic_year']}</option>";
          |  ?>
        label(for="admission_process_id") Academic year
    div(class="row")
      div(class="input-field col s12")
        input(placeholder="Eg 300" id="count" name="count" type="text" class="validate")
        label(for="count") Count
    div(class="row")
      div(class="col s12")
        button(class="btn waves-effect waves-light" type="submit" name="submit") Generate
