block php_header
  | <?php require_once("../../includes/initialize.php"); ?>
  //
    <?php
      if($_GET['action']=='reset'){
      reset_admission($_GET['admission_process_id']);
    header("Location: new_admission_process.php");
    }
      if($_GET['action']=="logout"){
      header("Location: http://logout@localhost");
    }
        
      ?>
