block php_header
  | <?php require_once("../../includes/initialize.php"); ?>
  //
    <?php
      if($_SERVER['REQUEST_METHOD'] == 'POST'){
        if($_POST['academic_year']=="")
          set_error("Academic year cannot be blank");
        else{
        $t_ret=create_admission_process($_POST['academic_year']);
        if($t_ret==0)
          set_success("Academic year saved!");
      }

      }
      
      $aps=get_admission_process();
    ?>
block variables
  - title = "Create new admission process"
extends ../template/admin_layout.jade
block content
  form(action="new_admission_process.php" method="post") 
    div(class="row")
      div(class="input-field col s12")
        input(placeholder="Eg 2015-2016" id="academic_year" name="academic_year" type="text" class="validate")
        label(for="academic_year") Academic year
    div(class="row")
      div(class="col s12")
        button(class="btn waves-effect waves-light" type="submit" name="submit") Create
    div(class="row")
      div(class="col s12")
        table(class="striped")
          thead
            tr
              th ID
              th Academic year
              th Status
              th Action
          tbody
            | <?php
            |   if(mysqli_num_rows($aps)==0){
            |     echo "<tr><td>-</td><td>-</td><td>-</td><td>-</td></tr>";  
            |  }
            |   else{
            |     while($a=mysqli_fetch_assoc($aps)){
            |      echo "<tr><td>{$a['id']}</td><td>{$a['academic_year']}</td><td>{$a['status']}</td><td><a href=\"rank.php?admission_process_id={$a['id']}&action=togglestatus\">Rank</a> | <a href=\"new_admission_process.php?id={$a['id']}&action=togglestatus\">Close</a></td></tr>"; 
            |   }
            |  } 
            | ?>
