block php_header
  | <?php require_once("../../includes/initialize.php"); ?>
  //
    <?php
      $result=get_applications($_GET['admission_process_id'],$_GET['token']);
      if(isset($_GET['action'])){
        if($_GET['action']=='edit')
          header("Location: edit.php?token={$_GET['token']}&admission_process_id={$_GET['admission_process_id']}");
        if($_GET['action']=='approve'){
          $r=approve($_GET['admission_process_id'],$_GET['token']);
          $result=get_applications($_GET['admission_process_id'],$_GET['token']);
      }
      if($_GET['action']=='cancel')
        header("Location: applications.php?admission_process_id={$_GET['admission_process_id']}&token={$_GET['token']}&submit=fetch");
          
          
      }
    ?>
block variables
  - title = "View Application"
extends ../template/admin_layout.jade
block content
  form(action="view_application.php" method="get")
    div(class="row")
      div(class="col s12")
        | <?php
        |  $va=mysqli_fetch_assoc($result);
        |  ?>
        div(class="card application-form")
          div(class="card-content")
            p(class="card-title") 
              h5(style="color: #222") <?php echo $va['fname']." ".$va['mname']." ".$va['lname']; ?>
              hr
              br
            div(class="row")
              div(class="col s3")
                span(class="label") Token Number
              div(class="col s9")
                span <?php echo $va['token']; ?>
            div(class="row")
              div(class="col s3")
                span(class="label") College ID 
              div(class="col s3")
                span <?php echo $va['college_id']; ?> 
              div(class="col s2")
                span(class="label") Year 
              div(class="col s4")
                span <?php echo $va['year']; ?>
            div(class="row") 
              div(class="col s3")
                span(class="label") Branch 
              div(class="col s9")
                span <?php echo $va['branch_name']; ?> 
            div(class="row")
              div(class="col s3")
                span(class="label") Blood Group
              div(class="col s3")
                span <?php echo $va['blood_group']; ?>
              div(class="col s2")
                span(class="label") Category
              div(class="col s4")
                span <?php echo $va['category_name']; ?>
            div(class="row")
              div(class="col s3")
                span(class="label") Parent Address
              div(class="col s9")
                span <?php echo $va['p_address']; ?>
            div(class="row")
              div(class="col s3")
                span(class="label") Parent Contact
              div(class="col s9")
                span <?php echo $va['p_contact']; ?>
            div(class="row")
              div(class="col s3")
                span(class="label") Gaurdian Address
              div(class="col s9")
                span <?php echo $va['g_address']; ?>
            div(class="row")
              div(class="col s3")
                span(class="label") Gaurdian Contact
              div(class="col s9")
                span <?php echo $va['g_contact']; ?>
            div(class="row")
              div(class="col s3")
                span(class="label") Date of birth
              div(class="col s9")
                span <?php echo $va['dob']; ?>
            div(class="row")
              div(class="col s3")
                span(class="label") Gender
              div(class="col s3")
                span <?php if($va['gender']==0) echo "Male"; else echo "Female"; ?>
              div(class="col s2")
                span(class="label") PH
              div(class="col s4")
                span <?php if($va['ph']==0) echo "No"; else echo "Yes"; ?>
            div(class="row")
              div(class="col s3")
                span(class="label") CGPA: CY
              div(class="col s3")
                span <?php echo $va['exam_curr']; ?>
              div(class="col s2")
                span(class="label") CGPA: LY
              div(class="col s4")
                span <?php echo $va['exam_last']; ?>
  form(action="view_application.php" method="GET")    
    div(class="row")
      div(class="col s12")
        | <?php echo "<input type=\"hidden\" value=\"{$va['token']}\" name=\"token\">"; ?>
        | <?php echo "<input type=\"hidden\" value=\"{$_GET['admission_process_id']}\" name=\"admission_process_id\">"; ?>
        | <?php if($va['is_valid']==0) echo '<button type="submit" name="action" value="approve" class="btn waves-effect waves-light light-green lighten-1">Approve</button>'; ?>
        | <?php if($va['is_valid']==1) echo '<button type="submit" name="action" value="approve" class="btn waves-effect waves-light light-green lighten-1 disabled" disabled>Already approved</button>'; ?>
        button(class="btn waves-effect waves-light grey" type="submit" name="action" value="cancel") Cancel
        | <?php if($va['is_valid']==0) echo '<button type="submit" name="action" value="edit" class="btn waves-effect waves-light red accent-1">Edit</button>'; ?>
        | <?php if($va['is_valid']==1) echo '<button type="submit" name="action" value="edit" class="btn waves-effect waves-light red accent-1 disabled" disabled>Edit</button>'; ?>
        
