block php_header
  | <?php require_once("../includes/initialize.php"); ?>

block variables
  - title = "Closed"
extends ./template/public_layout.jade
block content
  p Admission process has been closed. Thank you!
  
