block php_header
  | <?php require_once("../includes/initialize.php"); ?>

block variables
  - title = "Jijau Girls Hostel"
extends ./template/public_layout.jade
block content
  p
    | Year of Establishment: 1994
    br 
    | Intake capacity: 160
    br
    | Strength: 160
