block php_header
  | <?php require_once("../includes/initialize.php"); ?>

block variables
  - title = "News and updates"
extends ./template/public_layout.jade
block content
  p 
    | Hostel Admission Process for 2015-16
    br
    | Document Verification and Validation 2015-16
    
