block php_header
  | <?php require_once("../includes/initialize.php"); ?>
  //
    <?php
      $ad_process=get_admission_process();
      $students=null;
      if(isset($_GET['admission_process_id']))
        $students=public_result($_GET['admission_process_id']);
      ?>
block variables
  - title = "Result"
extends ./template/public_layout.jade
block content
  form(action="result.php" method="get")
    div(class="row")
      div(class="input-field col s6")
        select(id="admission_process_id" name="admission_process_id")
          option(value="" disabled selected) Choose your option
          | <?php
          |  while($ap=mysqli_fetch_assoc($ad_process))
          |    echo "<option value=\"{$ap['id']}\">{$ap['academic_year']}</option>";
          |  ?>
        label(for="admission_process_id") Academic year
      div(class="col s6")
        br
        button(class="btn waves-effect waves-light" type="submit" name="submit") Get result
  | <?php
  |   if((!isset($_GET['admission_process_id']))||$students==NULL||($students!=NULL&&mysqli_num_rows($students)<1)) 
  |     echo "<h3>Results not available yet!</h3>";
  |   else{
  |     echo '<table class="striped"><thead><tr><th>Rank</th><th>College Id</th><th>Full name</th><th>Year</th><th>Alloted</th><th>Quota</th></tr></thead><tbody>';
  |   while($s=mysqli_fetch_assoc($students)){
  |     $alloted="<span style=\"color: #800;\">No</span>";
  |     if($s['is_alloted']==1){
  |       $alloted="<span style=\"color: #0a0;\">Yes</span>";
  |    }
  |     echo "<tr><td>{$s['rank']}</td><td>{$s['college_id']}</td><td>{$s['fname']} {$s['mname']} {$s['lname']}</td><td>{$s['year']}</td><td>{$alloted}</td><td>{$s['alloted_under_quota']}</td></tr>";
  |   }
  |   }
  |   if(isset($_GET['admission_process_id'])&&($students&&mysqli_num_rows($students)>=1))
  |     echo "</tbody></table>";
  | ?>
      
        
