block php_header
  | <?php require_once("../includes/initialize.php"); ?>
block variables
  - title = "Rules and Regulations"
extends ./template/public_layout.jade
block content
  p
    | The following are the rules and regulations to be followed by every student admitted to the hostel.
    | These rules are framed to maintain discipline and peaceful atomsphere within hostel and college premises.
    | Hence essence co-operation is expected from every student. 
  h4 Admission Rules 
  ol 
    li Student should fill the proper application form for the hostel admission available in students cooperative stores. 
    li Before admitting in hostel, he should take the admission in college and then within two days,
      | should submit his application form. first year student should submit his application form on the date of admission itself. 
    li Students are admitted in hostel on merit basis and as per government rules. 
    li Hostel admission is applicable for one academic year. 
    li Once admitted in hostel, student should occupy the room within 15 days of admission, failing which his admission admission will be cancelled
      | an dseat will alloted to waitshed candidate. First year students should report in the hostel on prescribed date at the time of admission. 
  h4 Hostel Rules 
  ol 
    li The hostel will be open from 6:00 AM to 7:00 PM for occupants. She should take prior permission for extension of time after 7:30 PM under special unsatisfied circumstances. 
    li Water and electricity shall be used scrupulousely and heater, electric, rod, electric stove, ketail or hot plate will not be permitted to use in hostel. A fineof up to
      | Rs. 1000/- will be charged if the students are found using such items.  
    li Mess is run on student on co-operative basis and hence adequate assistance and co-operative is expected from students. it is compulsory to take food from mess only. everyone should obey the rules set up by committee to maintain discipline in mess hall. 
    li No guest will be allowed to stay in room. Only female guest should stay in guest room with prior permission and prepaid guest charge of Rs. 10/- per day. 
    li The jwellery, money and other costly material should be kept in safe custody with own risk. The authority holds no responsibility for theft or loss. 
    li Vehlcle/cycle should be parked at parking place at own risk. 
    li Everyone should co-operate to keep own room and hostel premises clean and beautiful. The waste material should be dumped in dust bin. 
    li If someone falls sick, it should be informed immediately to the authority. 
    li News paper and magzine should be read in common room only. 
    li Photography is prohibited in college and hostel premises. 
    li With permission relatives provided in the vistors list along with admission form can only meet the students after entering the details in visiting register in guest room only. Visiting duration shall not be more than 10 minutes. Visiting duration shall not be more than 10 minutes.
      | Visting time are 8 to 10 am and 5 to 7 pm on working days and 8 to 12 am and 4 to 7 pm on holiydays/sundays. For other timing written permission from Rector/Warden must be obtained.
      | No visitor will be allowed to visit students room. 
    li The RIGHT to admit or cancellation of hostel admission and to form a new rule if required, is reserved with authority to keep peaceful, secured and healthy atomsphere in hostel premises.  
    li For staying with parent or logical guardian, prior permission should be taken in proper format. 
    li No one should leave the room after 9 pm for friendly talk with other roommates or should not make noise in coridor and ditrub the peace in hostel premises. 
    li For violation of following the rules, fine of Rs. 25/- per mistake will be changed. 
  ul 
    li If  student does not sign her muster roll daily with authentic signiture. No proxy signiture is allowed. 
    li If student does not enter her every movement in movement register kept at entry gate.  
    li Under the following circumstances,student may be expelled from the hostel and her hostel deposite fee may be forfeitted. 
  ul
    li If furniture and material provided in the room or hostel premises is found damged and broken. Also will have to replee the damged material at his own cost. 
    li Mess bill should paid within 5 day of its display. After this date, fine will be charged Rs. 10/-  per day dealy in payment. and if payment is not made upto 30th of month, above action will be taken. 
    li If student is found in the act of mis-behavior or disobeys rules regularly or non-coperation with authority. 
    li If anybody is found in unnecessary shouting and disturbing peaceful atmosphere within premises at any time. 
    li If anybody found in infringament of security guard instructions, miss-behaving in hostel premises or college premises road and doing unfair which will damage the image of college. 
    li if any girl meets the college male student within hostel premises. 
    li If anybody remain absent in hostel for more than 30 days within notice.
