block php_header
  | <?php require_once("../includes/initialize.php"); ?>

block variables
  - title = "Satpuda Boys Hostel"
extends ./template/public_layout.jade
block content
  p
    | Year of Establishment: 1980
    br
    | Intake capacity: 180
    br
    | Strength: 204
