block php_header
block variables
doctype html
html
  head
    //Import Google Icon Font
    //Import materialize.css
    link(type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection")
    link(type="text/css" rel="stylesheet" href="css/main.css"  media="screen,projection")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    //Scripts
    //Import jQuery before materialize.js
    script(type="text/javascript" src="js/jquery-2.1.1.min.js")
    script(type="text/javascript" src="js/materialize.min.js")
    script(type="text/javascript" src="js/main.js")
    //Let browser know website is optimized for mobile
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    - var title = title || "Page"
    title #{title} :: GCOEA Hostel

  body
    div(class="row" id="header")
      div(class="col s12" id="header-col")
        nav(id="main-nav")
          div(class="nav-wrapper")
            div(class="col s12")
              a(href="#" class="brand-logo") GCOEA Hostels
              ul(id="nav-mobile" class="right hide-on-med-and-down")
                li
                  a(href="index.php") Home
                li
                  a(href="news_updates.php") News & Updates
                li
                  a(href="admission.php") Admission
                li
                  a(href="apply.php") Apply
                li
                  a(href="result.php") Result
                li
                  a(href="rules.php") Hostel Rules
                li
                  a(href="admin/home.php") Admin Login    
      div(class="container" id="content-wrapper")
        div(class="row")
          div(id="content" class="col s8")
            h4 #{title}
            | <?php print_message(); ?>
            block content
          div(id="right-sidebar" class="col s4")
            block right-sidebar
            ul(class="collection with-header")
              li(class="collection-header")
                | Hostels
              li
                a(href="sahyadri.php" class="collection-item") Sahyadri
              li
                a(href="satpuda.php" class="collection-item") Satpuda
              li
                a(href="jijau.php" class="collection-item") Jijau
              li
                a(href="new_girls_hostel.php" class="collection-item") New girls hostel
            ul(class="collection with-header")
              li(class="collection-header")
                | External links
              li
                a(href="#!" class="collection-item") College website
              li
                a(href="#!" class="collection-item") DTE
            div(style="background: url('http://gcoea.ac.in/sites/default/files/seal.png'); background-repeat: no-repeat; opacity: 0.2; width:112px; height: 112px; margin-left: auto; margin-right: auto;")
            
      div(class="row" id="footer")
        div(class="col s8")
          p
            a(href="") Developers
            | &nbsp;|&nbsp; 
            a(href="") About Us
          p
            | 2016 | Government College of Engineering, Amravati
        div(class="col s4")
          p
            img(src="http://gcoea.ac.in/sites/default/files/gcoea_foot_2.png")
      
block php_footer
